
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d50000;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

main {
    padding: 20px;
}

.info, .contacto, .redes {
    margin-bottom: 30px;
}

h2 {
    color: #d50000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #d50000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b40000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
